.session{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: coral;
    width: 200px;
    background-color: indigo;
    min-height: 90px;
    padding-bottom: 10px;
    border-radius:12px;
    margin-top: -20px;
}
.new-session{
    width: 250px;
    padding: 15px;
}
.session ul{
    padding-left: 15px;
    margin: 5px 0;
}
.session p{
    margin: 5px 0;
}
.session button{
    margin: 10px;
}
.set-name{
    color:rgb(255, 173, 20);
    font-style: italic;
    word-break: break-word;
    width: 170px;
}
.form-buttons{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
}
.form-buttons button{
    margin: 10px 10px 0;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: transparent;
}
.btn-red>span, .btn-green>span{
    margin-right: 5px;
}
.btn-red{ 
    color:coral;
}
.btn-green{
    color: rgb(80, 255, 185);
}