.table-box{
    position: relative;
}
.table-box > nav{
    margin: 10px;
}
.table-content{
    display: flex;
    flex-flow: row wrap;
}
.table-content>div{
    margin: 10px;
}
.session-name{
    color: coral;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms ease;
    background-color: indigo;
    margin: 0;
    text-align: center;
    word-break: break-word;
    border-radius: 12px;
}
.session-name:hover{
    color: rgb(255, 173, 20);
}
.btn-new{
    width: 150px;
    height: 50px;
    border-radius: 12px;
    border: none;
    background-color: indigo;
    color: rgb(80, 255, 185);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.btn-new>span{
    margin-right: 5px;
}