.timer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    color: coral;
}
.timer-container h3{
    color: deeppink;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin: 15px;
}
.timer-container h4{
    text-align: left;
    margin: 5px;
    font-size: 25px;
}
.timer-container p{
    text-align: left;
    margin: 5px;
    font-size: 20px;
}
.timer-container fieldset{
    min-width: 200px;
}
.timer-container legend{
    font-size: 20px;
}
.timer-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.timer-buttons button{
    color: deeppink;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 3px;
}
.modal-timer{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 12, 35);
}
